<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork/labs/Module%205/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Content Based Filtering

Estimated time needed: **25** minutes

## Objectives

After completing this lab you will be able to:

*   Create a recommendation system using collaborative filtering

Recommendation systems are a collection of algorithms used to recommend items to users based on information taken from the user. These systems have become ubiquitous, and can be commonly seen in online stores, movies databases and job finders. In this notebook, we will explore Content-based recommendation systems and implement a simple version of one using Python and the Pandas library.

### Table of contents

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ol>
        <li><a href="#ref1">Acquiring the Data</a></li>
        <li><a href="#ref2">Preprocessing</a></li>
        <li><a href="#ref3">Content-Based Filtering</a></li>
    </ol>
</div>
<br>

<a id="ref1"></a>

# Acquiring the Data

To acquire and extract the data, simply run the following Bash scripts:\
Dataset acquired from [GroupLens](http://grouplens.org/datasets/movielens/?utm_medium=Exinfluencer\&utm_source=Exinfluencer\&utm_content=000026UJ\&utm_term=10006555\&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkML0101ENSkillsNetwork20718538-2021-01-01). Let's download the dataset. To download the data, we will use **`!wget`** to download it from IBM Object Storage.\
**Did you know?** When it comes to Machine Learning, you will likely be working with large datasets. As a business, where can you host your data? IBM is offering a unique opportunity for businesses, with 10 Tb of IBM Cloud Object Storage: [Sign up now for free](http://cocl.us/ML0101EN-IBM-Offer-CC)

In [1]:
!wget -O moviedataset.zip https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork/labs/Module%205/data/moviedataset.zip
print('unziping ...')
!unzip -o -j moviedataset.zip

unziping ...

--2021-07-07 11:33:53--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork/labs/Module%205/data/moviedataset.zip
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.45.118.108
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.45.118.108|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 160301210 (153M) [application/zip]
Saving to: 'moviedataset.zip'

     0K .......... .......... .......... .......... ..........  0%  570K 4m35s
    50K .......... .......... .......... .......... ..........  0% 1.17M 3m23s
   100K .......... .......... .......... .......... ..........  0% 1.17M 2m58s
   150K .......... .......... .......... .......... ..........  0% 1.17M 2m46s
   200K .......... .......... .......... .......... ..........  0% 3.18M 2m23s
   250K .......... .......... .......... .......... ..........  0% 55.2M 1m59s
   300K .......... .......... .......... .......... ..........  0% 77.1M 1m42s
   350K .......... .......... .......... .......... ..........  0% 1.98M 99s
   400K .......... .......... .......... .......... ..........  0% 7.50M 90s
   450K .......... .......... .......... .......... ..........  0% 5.34M 84s
   500K .......... .......... .......... .......... ..........  0% 61.6M 77s
   550K .......... .......... .......... .......... ..........  0% 79.1M 71s
   600K .......... .......... .......... .......... ..........  0% 2.01M 71s
   650K .......... .......... .......... .......... ..........  0% 8.01M 67s
   700K .......... .......... .......... .......... ..........  0% 5.25M 65s
   750K .......... .......... .......... .......... ..........  0%  269M 61s
   800K .......... .......... .......... .......... ..........  0% 65.7M 57s
   850K .......... .......... .......... .......... ..........  0%  744K 66s
   900K .......... .......... .......... .......... ..........  0% 62.9M 62s
   950K .......... .......... .......... .......... ..........  0% 85.0M 59s
  1000K .......... .......... .......... .......... ..........  0% 97.7M 56s
  1050K .......... .......... .......... .......... ..........  0%  154M 54s
  1100K .......... .......... .......... .......... ..........  0%  136M 52s
  1150K .......... .......... .......... .......... ..........  0%  169M 49s
  1200K .......... .......... .......... .......... ..........  0% 19.7M 48s
  1250K .......... .......... .......... .......... ..........  0%  121M 46s
  1300K .......... .......... .......... .......... ..........  0% 5.69M 45s
  1350K .......... .......... .......... .......... ..........  0% 83.0M 44s
  1400K .......... .......... .......... .......... ..........  0%  134M 42s
  1450K .......... .......... .......... .......... ..........  0%  140M 41s
  1500K .......... .......... .......... .......... ..........  0% 1.88M 42s
  1550K .......... .......... .......... .......... ..........  1%  162M 41s
  1600K .......... .......... .......... .......... ..........  1% 9.55M 40s
  1650K .......... .......... .......... .......... ..........  1%  321M 39s
  1700K .......... .......... .......... .......... ..........  1% 5.48M 39s
  1750K .......... .......... .......... .......... ..........  1%  247M 37s
  1800K .......... .......... .......... .......... ..........  1%  121M 36s
  1850K .......... .......... .......... .......... ..........  1%  143M 36s
  1900K .......... .......... .......... .......... ..........  1%  105M 35s
  1950K .......... .......... .......... .......... ..........  1% 2.49M 35s
  2000K .......... .......... .......... .......... ..........  1% 7.58M 35s
  2050K .......... .......... .......... .......... ..........  1% 10.4M 34s
  2100K .......... .......... .......... .......... ..........  1% 44.2M 34s
  2150K .......... .......... .......... .......... ..........  1% 33.4M 33s
  2200K .......... .......... .......... .......... ..........  1% 7.50M 33s
  2250K .......... .......... .......... .......... ..........  1% 67.3M 32s
  2300K .......... .......... .......... .......... ..........  1%  108M 31s
  2350K .......... .......... .......... .......... ..........  1% 68.9M 31s
  2400K .......... .......... .......... .......... ..........  1% 1.16M 33s
  2450K .......... .......... .......... .......... ..........  1% 46.8M 32s
  2500K .......... .......... .......... .......... ..........  1% 32.3M 32s
  2550K .......... .......... .......... .......... ..........  1% 49.2M 31s
  2600K .......... .......... .......... .......... ..........  1% 31.1M 31s
  2650K .......... .......... .......... .......... ..........  1% 47.8M 30s
  2700K .......... .......... .......... .......... ..........  1% 32.3M 30s
  2750K .......... .......... .......... .......... ..........  1% 31.7M 29s
  2800K .......... .......... .......... .......... ..........  1% 50.5M 29s
  2850K .......... .......... .......... .......... ..........  1% 32.8M 28s
  2900K .......... .......... .......... .......... ..........  1% 7.50M 28s
  2950K .......... .......... .......... .......... ..........  1% 7.31M 28s
  3000K .......... .......... .......... .......... ..........  1% 31.0M 28s
  3050K .......... .......... .......... .......... ..........  1% 11.3M 27s
  3100K .......... .......... .......... .......... ..........  2% 6.07M 27s
  3150K .......... .......... .......... .......... ..........  2% 63.4M 27s
  3200K .......... .......... .......... .......... ..........  2% 83.5M 26s
  3250K .......... .......... .......... .......... ..........  2%  176M 26s
  3300K .......... .......... .......... .......... ..........  2% 2.54M 27s
  3350K .......... .......... .......... .......... ..........  2% 7.91M 26s
  3400K .......... .......... .......... .......... ..........  2% 27.1M 26s
  3450K .......... .......... .......... .......... ..........  2% 14.2M 26s
  3500K .......... .......... .......... .......... ..........  2% 5.61M 26s
  3550K .......... .......... .......... .......... ..........  2% 44.7M 26s
  3600K .......... .......... .......... .......... ..........  2% 98.2M 25s
  3650K .......... .......... .......... .......... ..........  2% 65.3M 25s
  3700K .......... .......... .......... .......... ..........  2% 2.56M 25s
  3750K .......... .......... .......... .......... ..........  2% 7.59M 25s
  3800K .......... .......... .......... .......... ..........  2% 31.1M 25s
  3850K .......... .......... .......... .......... ..........  2% 14.6M 25s
  3900K .......... .......... .......... .......... ..........  2% 5.85M 25s
  3950K .......... .......... .......... .......... ..........  2% 66.2M 24s
  4000K .......... .......... .......... .......... ..........  2% 45.6M 24s
  4050K .......... .......... .......... .......... ..........  2%  115M 24s
  4100K .......... .......... .......... .......... ..........  2% 76.3M 24s
  4150K .......... .......... .......... .......... ..........  2% 1.92M 24s
  4200K .......... .......... .......... .......... ..........  2% 27.0M 24s
  4250K .......... .......... .......... .......... ..........  2% 16.0M 24s
  4300K .......... .......... .......... .......... ..........  2% 5.80M 24s
  4350K .......... .......... .......... .......... ..........  2% 21.7M 24s
  4400K .......... .......... .......... .......... ..........  2% 36.1M 23s
  4450K .......... .......... .......... .......... ..........  2% 24.9M 23s
  4500K .......... .......... .......... .......... ..........  2% 43.7M 23s
  4550K .......... .......... .......... .......... ..........  2% 2.19M 24s
  4600K .......... .......... .......... .......... ..........  2% 33.6M 23s
  4650K .......... .......... .......... .......... ..........  3% 16.5M 23s
  4700K .......... .......... .......... .......... ..........  3% 31.4M 23s
  4750K .......... .......... .......... .......... ..........  3% 6.49M 23s
  4800K .......... .......... .......... .......... ..........  3% 23.5M 23s
  4850K .......... .......... .......... .......... ..........  3% 35.0M 23s
  4900K .......... .......... .......... .......... ..........  3% 26.3M 22s
  4950K .......... .......... .......... .......... ..........  3% 2.26M 23s
  5000K .......... .......... .......... .......... ..........  3% 23.2M 23s
  5050K .......... .......... .......... .......... ..........  3% 15.4M 23s
  5100K .......... .......... .......... .......... ..........  3% 25.3M 22s
  5150K .......... .......... .......... .......... ..........  3% 7.71M 22s
  5200K .......... .......... .......... .......... ..........  3% 67.6M 22s
  5250K .......... .......... .......... .......... ..........  3% 69.4M 22s
  5300K .......... .......... .......... .......... ..........  3%  107M 22s
  5350K .......... .......... .......... .......... ..........  3% 1.89M 22s
  5400K .......... .......... .......... .......... ..........  3% 90.1M 22s
  5450K .......... .......... .......... .......... ..........  3% 12.8M 22s
  5500K .......... .......... .......... .......... ..........  3%  109M 22s
  5550K .......... .......... .......... .......... ..........  3% 5.62M 22s
  5600K .......... .......... .......... .......... ..........  3% 58.7M 22s
  5650K .......... .......... .......... .......... ..........  3%  143M 21s
  5700K .......... .......... .......... .......... ..........  3% 82.7M 21s
  5750K .......... .......... .......... .......... ..........  3% 2.44M 22s
  5800K .......... .......... .......... .......... ..........  3% 6.73M 22s
  5850K .......... .......... .......... .......... ..........  3% 17.1M 21s
  5900K .......... .......... .......... .......... ..........  3% 51.6M 21s
  5950K .......... .......... .......... .......... ..........  3% 5.86M 21s
  6000K .......... .......... .......... .......... ..........  3% 77.4M 21s
  6050K .......... .......... .......... .......... ..........  3% 58.9M 21s
  6100K .......... .......... .......... .......... ..........  3% 90.0M 21s
  6150K .......... .......... .......... .......... ..........  3% 2.43M 21s
  6200K .......... .......... .......... .......... ..........  3% 6.49M 21s
  6250K .......... .......... .......... .......... ..........  4% 19.4M 21s
  6300K .......... .......... .......... .......... ..........  4% 37.3M 21s
  6350K .......... .......... .......... .......... ..........  4% 6.71M 21s
  6400K .......... .......... .......... .......... ..........  4% 45.1M 21s
  6450K .......... .......... .......... .......... ..........  4% 72.3M 21s
  6500K .......... .......... .......... .......... ..........  4% 69.0M 20s
  6550K .......... .......... .......... .......... ..........  4% 2.39M 21s
  6600K .......... .......... .......... .......... ..........  4% 6.59M 21s
  6650K .......... .......... .......... .......... ..........  4% 39.3M 21s
  6700K .......... .......... .......... .......... ..........  4% 23.0M 20s
  6750K .......... .......... .......... .......... ..........  4% 6.29M 20s
  6800K .......... .......... .......... .......... ..........  4% 34.2M 20s
  6850K .......... .......... .......... .......... ..........  4% 26.0M 20s
  6900K .......... .......... .......... .......... ..........  4% 39.7M 20s
  6950K .......... .......... .......... .......... ..........  4% 28.5M 20s
  7000K .......... .......... .......... .......... ..........  4% 2.13M 20s
  7050K .......... .......... .......... .......... ..........  4% 25.2M 20s
  7100K .......... .......... .......... .......... ..........  4% 30.2M 20s
  7150K .......... .......... .......... .......... ..........  4% 25.1M 20s
  7200K .......... .......... .......... .......... ..........  4% 5.50M 20s
  7250K .......... .......... .......... .......... ..........  4% 41.6M 20s
  7300K .......... .......... .......... .......... ..........  4% 26.8M 20s
  7350K .......... .......... .......... .......... ..........  4% 44.1M 20s
  7400K .......... .......... .......... .......... ..........  4% 2.12M 20s
  7450K .......... .......... .......... .......... ..........  4% 36.4M 20s
  7500K .......... .......... .......... .......... ..........  4% 27.0M 20s
  7550K .......... .......... .......... .......... ..........  4% 26.9M 20s
  7600K .......... .......... .......... .......... ..........  4% 5.62M 20s
  7650K .......... .......... .......... .......... ..........  4% 24.8M 20s
  7700K .......... .......... .......... .......... ..........  4% 40.7M 20s
  7750K .......... .......... .......... .......... ..........  4% 25.3M 19s
  7800K .......... .......... .......... .......... ..........  5% 3.01M 20s
  7850K .......... .......... .......... .......... ..........  5% 6.56M 20s
  7900K .......... .......... .......... .......... ..........  5% 24.8M 20s
  7950K .......... .......... .......... .......... ..........  5% 25.5M 19s
  8000K .......... .......... .......... .......... ..........  5% 5.64M 19s
  8050K .......... .......... .......... .......... ..........  5% 37.7M 19s
  8100K .......... .......... .......... .......... ..........  5% 28.7M 19s
  8150K .......... .......... .......... .......... ..........  5% 40.2M 19s
  8200K .......... .......... .......... .......... ..........  5% 22.3M 19s
  8250K .......... .......... .......... .......... ..........  5% 2.31M 19s
  8300K .......... .......... .......... .......... ..........  5% 61.0M 19s
  8350K .......... .......... .......... .......... ..........  5% 17.6M 19s
  8400K .......... .......... .......... .......... ..........  5% 5.17M 19s
  8450K .......... .......... .......... .......... ..........  5% 28.9M 19s
  8500K .......... .......... .......... .......... ..........  5% 45.1M 19s
  8550K .......... .......... .......... .......... ..........  5% 34.1M 19s
  8600K .......... .......... .......... .......... ..........  5% 45.8M 19s
  8650K .......... .......... .......... .......... ..........  5% 2.78M 19s
  8700K .......... .......... .......... .......... ..........  5% 7.35M 19s
  8750K .......... .......... .......... .......... ..........  5% 25.5M 19s
  8800K .......... .......... .......... .......... ..........  5% 42.0M 19s
  8850K .......... .......... .......... .......... ..........  5% 5.48M 19s
  8900K .......... .......... .......... .......... ..........  5% 69.1M 19s
  8950K .......... .......... .......... .......... ..........  5%  118M 19s
  9000K .......... .......... .......... .......... ..........  5% 74.1M 19s
  9050K .......... .......... .......... .......... ..........  5% 2.42M 19s
  9100K .......... .......... .......... .......... ..........  5% 6.74M 19s
  9150K .......... .......... .......... .......... ..........  5% 27.7M 19s
  9200K .......... .......... .......... .......... ..........  5% 33.0M 19s
  9250K .......... .......... .......... .......... ..........  5% 5.45M 19s
  9300K .......... .......... .......... .......... ..........  5% 23.2M 19s
  9350K .......... .......... .......... .......... ..........  6% 40.1M 19s
  9400K .......... .......... .......... .......... ..........  6% 24.1M 18s
  9450K .......... .......... .......... .......... ..........  6% 40.5M 18s
  9500K .......... .......... .......... .......... ..........  6% 2.23M 19s
  9550K .......... .......... .......... .......... ..........  6% 23.8M 19s
  9600K .......... .......... .......... .......... ..........  6% 26.2M 18s
  9650K .......... .......... .......... .......... ..........  6% 39.9M 18s
  9700K .......... .......... .......... .......... ..........  6% 5.39M 18s
  9750K .......... .......... .......... .......... ..........  6% 38.1M 18s
  9800K .......... .......... .......... .......... ..........  6% 27.8M 18s
  9850K .......... .......... .......... .......... ..........  6% 38.8M 18s
  9900K .......... .......... .......... .......... ..........  6% 2.80M 18s
  9950K .......... .......... .......... .......... ..........  6% 6.67M 18s
 10000K .......... .......... .......... .......... ..........  6% 32.9M 18s
 10050K .......... .......... .......... .......... ..........  6% 28.0M 18s
 10100K .......... .......... .......... .......... ..........  6% 5.84M 18s
 10150K .......... .......... .......... .......... ..........  6% 25.1M 18s
 10200K .......... .......... .......... .......... ..........  6% 36.7M 18s
 10250K .......... .......... .......... .......... ..........  6% 28.4M 18s
 10300K .......... .......... .......... .......... ..........  6% 2.90M 18s
 10350K .......... .......... .......... .......... ..........  6% 7.50M 18s
 10400K .......... .......... .......... .......... ..........  6% 27.0M 18s
 10450K .......... .......... .......... .......... ..........  6% 39.1M 18s
 10500K .......... .......... .......... .......... ..........  6% 28.2M 18s
 10550K .......... .......... .......... .......... ..........  6% 5.21M 18s
 10600K .......... .......... .......... .......... ..........  6% 25.2M 18s
 10650K .......... .......... .......... .......... ..........  6% 42.4M 18s
 10700K .......... .......... .......... .......... ..........  6% 28.4M 18s
 10750K .......... .......... .......... .......... ..........  6% 2.89M 18s
 10800K .......... .......... .......... .......... ..........  6% 7.46M 18s
 10850K .......... .......... .......... .......... ..........  6% 26.6M 18s
 10900K .......... .......... .......... .......... ..........  6% 39.6M 18s
 10950K .......... .......... .......... .......... ..........  7% 5.06M 18s
 11000K .......... .......... .......... .......... ..........  7% 35.3M 18s
 11050K .......... .......... .......... .......... ..........  7% 28.0M 18s
 11100K .......... .......... .......... .......... ..........  7% 42.7M 18s
 11150K .......... .......... .......... .......... ..........  7% 26.2M 18s
 11200K .......... .......... .......... .......... ..........  7% 2.17M 18s
 11250K .......... .......... .......... .......... ..........  7% 26.5M 18s
 11300K .......... .......... .......... .......... ..........  7% 27.7M 18s
 11350K .......... .......... .......... .......... ..........  7% 40.8M 18s
 11400K .......... .......... .......... .......... ..........  7% 6.62M 18s
 11450K .......... .......... .......... .......... ..........  7%  112M 18s
 11500K .......... .......... .......... .......... ..........  7% 71.1M 17s
 11550K .......... .......... .......... .......... ..........  7% 72.9M 17s
 11600K .......... .......... .......... .......... ..........  7% 2.40M 18s
 11650K .......... .......... .......... .......... ..........  7% 6.79M 18s
 11700K .......... .......... .......... .......... ..........  7% 40.1M 17s
 11750K .......... .......... .......... .......... ..........  7% 26.5M 17s
 11800K .......... .......... .......... .......... ..........  7% 5.67M 17s
 11850K .......... .......... .......... .......... ..........  7% 24.8M 17s
 11900K .......... .......... .......... .......... ..........  7% 39.2M 17s
 11950K .......... .......... .......... .......... ..........  7% 26.5M 17s
 12000K .......... .......... .......... .......... ..........  7% 2.81M 17s
 12050K .......... .......... .......... .......... ..........  7% 7.70M 17s
 12100K .......... .......... .......... .......... ..........  7% 22.3M 17s
 12150K .......... .......... .......... .......... ..........  7% 41.4M 17s
 12200K .......... .......... .......... .......... ..........  7% 27.8M 17s
 12250K .......... .......... .......... .......... ..........  7% 6.28M 17s
 12300K .......... .......... .......... .......... ..........  7% 25.9M 17s
 12350K .......... .......... .......... .......... ..........  7% 25.2M 17s
 12400K .......... .......... .......... .......... ..........  7% 25.6M 17s
 12450K .......... .......... .......... .......... ..........  7% 2.91M 17s
 12500K .......... .......... .......... .......... ..........  8% 6.83M 17s

 26850K .......... .......... .......... .......... .......... 17% 28.7M 18s
 26900K .......... .......... .......... .......... .......... 17% 6.77M 18s
 26950K .......... .......... .......... .......... .......... 17% 67.1M 18s
 27000K .......... .......... .......... .......... .......... 17% 1.53M 18s
 27050K .......... .......... .......... .......... .......... 17% 5.74M 18s
 27100K .......... .......... .......... .......... .......... 17% 50.6M 18s
 27150K .......... .......... .......... .......... .......... 17% 1.53M 18s
 27200K .......... .......... .......... .......... .......... 17% 1.89M 18s
 27250K .......... .......... .......... .......... .......... 17% 19.6M 18s
 27300K .......... .......... .......... .......... .......... 17% 8.62M 18s
 27350K .......... .......... .......... .......... .......... 17% 6.11M 18s
 27400K .......... .......... .......... .......... .......... 17% 5.81M 18s
 27450K .......... .......... .......... .......... .......... 17% 34.9M 18s
 27500K .......... .......... .......... .......... .......... 17% 1.55M 18s
 27550K .......... .......... .......... .......... .......... 17% 25.6M 18s
 27600K .......... .......... .......... .......... .......... 17% 6.26M 18s
 27650K .......... .......... .......... .......... .......... 17% 25.1M 18s
 27700K .......... .......... .......... .......... .......... 17% 1.63M 19s
 27750K .......... .......... .......... .......... .......... 17% 5.61M 19s
 27800K .......... .......... .......... .......... .......... 17% 39.6M 18s
 27850K .......... .......... .......... .......... .......... 17% 2.27M 19s
 27900K .......... .......... .......... .......... .......... 17% 4.41M 19s
 27950K .......... .......... .......... .......... .......... 17% 5.54M 19s
 28000K .......... .......... .......... .......... .......... 17% 28.5M 19s
 28050K .......... .......... .......... .......... .......... 17% 1.64M 19s
 28100K .......... .......... .......... .......... .......... 17% 5.12M 19s
 28150K .......... .......... .......... .......... .......... 18% 30.5M 19s
 28200K .......... .......... .......... .......... .......... 18% 2.36M 19s
 28250K .......... .......... .......... .......... .......... 18% 4.58M 19s
 28300K .......... .......... .......... .......... .......... 18% 5.42M 19s
 28350K .......... .......... .......... .......... .......... 18% 42.2M 19s
 28400K .......... .......... .......... .......... .......... 18% 1.58M 19s
 28450K .......... .......... .......... .......... .......... 18% 5.68M 19s
 28500K .......... .......... .......... .......... .......... 18% 24.6M 19s
 28550K .......... .......... .......... .......... .......... 18% 2.35M 19s
 28600K .......... .......... .......... .......... .......... 18% 4.69M 19s
 28650K .......... .......... .......... .......... .......... 18% 5.51M 19s
 28700K .......... .......... .......... .......... .......... 18% 25.1M 19s
 28750K .......... .......... .......... .......... .......... 18% 1.62M 19s
 28800K .......... .......... .......... .......... .......... 18% 43.7M 19s
 28850K .......... .......... .......... .......... .......... 18% 5.60M 19s
 28900K .......... .......... .......... .......... .......... 18% 2.24M 19s
 28950K .......... .......... .......... .......... .......... 18% 5.23M 19s
 29000K .......... .......... .......... .......... .......... 18% 5.42M 19s
 29050K .......... .......... .......... .......... .......... 18% 78.2M 19s
 29100K .......... .......... .......... .......... .......... 18% 1.55M 19s
 29150K .......... .......... .......... .......... .......... 18% 48.6M 19s
 29200K .......... .......... .......... .......... .......... 18% 5.89M 19s
 29250K .......... .......... .......... .......... .......... 18% 69.2M 19s
 29300K .......... .......... .......... .......... .......... 18% 1.53M 19s
 29350K .......... .......... .......... .......... .......... 18% 5.20M 19s
 29400K .......... .......... .......... .......... .......... 18% 36.4M 19s
 29450K .......... .......... .......... .......... .......... 18% 2.28M 19s
 29500K .......... .......... .......... .......... .......... 18% 4.70M 19s
 29550K .......... .......... .......... .......... .......... 18% 5.52M 19s
 29600K .......... .......... .......... .......... .......... 18% 40.2M 19s
 29650K .......... .......... .......... .......... .......... 18% 1.59M 19s
 29700K .......... .......... .......... .......... .......... 19% 21.5M 19s
 29750K .......... .......... .......... .......... .......... 19% 6.30M 19s
 29800K .......... .......... .......... .......... .......... 19% 2.25M 19s
 29850K .......... .......... .......... .......... .......... 19% 4.94M 19s
 29900K .......... .......... .......... .......... .......... 19% 6.12M 19s
 29950K .......... .......... .......... .......... .......... 19% 25.0M 19s
 30000K .......... .......... .......... .......... .......... 19% 1.58M 19s
 30050K .......... .......... .......... .......... .......... 19% 27.1M 19s
 30100K .......... .......... .......... .......... .......... 19% 6.54M 19s
 30150K .......... .......... .......... .......... .......... 19% 27.8M 19s
 30200K .......... .......... .......... .......... .......... 19% 1.60M 19s
 30250K .......... .......... .......... .......... .......... 19% 5.91M 19s
 30300K .......... .......... .......... .......... .......... 19% 40.4M 19s
 30350K .......... .......... .......... .......... .......... 19% 2.13M 19s
 30400K .......... .......... .......... .......... .......... 19% 5.00M 19s
 30450K .......... .......... .......... .......... .......... 19% 6.50M 19s
 30500K .......... .......... .......... .......... .......... 19% 57.8M 19s
 30550K .......... .......... .......... .......... .......... 19% 1.53M 19s
 30600K .......... .......... .......... .......... .......... 19% 62.4M 19s
 30650K .......... .......... .......... .......... .......... 19% 5.59M 19s
 30700K .......... .......... .......... .......... .......... 19% 43.0M 19s
 30750K .......... .......... .......... .......... .......... 19% 1.54M 19s
 30800K .......... .......... .......... .......... .......... 19% 6.43M 19s
 30850K .......... .......... .......... .......... .......... 19% 33.0M 19s
 30900K .......... .......... .......... .......... .......... 19% 2.10M 19s
 30950K .......... .......... .......... .......... .......... 19% 5.43M 19s
 31000K .......... .......... .......... .......... .......... 19% 5.73M 19s
 31050K .......... .......... .......... .......... .......... 19% 40.5M 19s
 31100K .......... .......... .......... .......... .......... 19% 1.58M 19s
 31150K .......... .......... .......... .......... .......... 19% 26.5M 19s
 31200K .......... .......... .......... .......... .......... 19% 6.41M 19s
 31250K .......... .......... .......... .......... .......... 19% 2.11M 19s
 31300K .......... .......... .......... .......... .......... 20% 5.56M 19s
 31350K .......... .......... .......... .......... .......... 20% 5.82M 19s
 31400K .......... .......... .......... .......... .......... 20%  110M 19s
 31450K .......... .......... .......... .......... .......... 20% 2.03M 19s
 31500K .......... .......... .......... .......... .......... 20% 5.37M 19s

Now you're ready to start working with the data!

<a id="ref2"></a>

# Preprocessing

First, let's get all of the imports out of the way:

In [275]:
#Dataframe manipulation library
import pandas as pd
#Math functions, we'll only need the sqrt function so let's import only that
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

Now let's read each file into their Dataframes:

In [276]:
#Storing the movie information into a pandas dataframe
movies_df = pd.read_csv('movies.csv')
#Storing the user information into a pandas dataframe
ratings_df = pd.read_csv('ratings.csv')
#Head is a function that gets the first N rows of a dataframe. N's default is 5.
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

Let's also remove the year from the **title** column by using pandas' replace function and store in a new **year** column.

In [277]:
#Using regular expressions to find a year stored between parentheses
#We specify the parantheses so we don't conflict with movies that have years in their titles
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))',expand=False)
#Removing the parentheses
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)',expand=False)
#Removing the years from the 'title' column
movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')
#Applying the strip function to get rid of any ending whitespace characters that may have appeared
movies_df['title'] = movies_df['title'].apply(lambda x: x.strip())
movies_df.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

With that, let's also split the values in the **Genres** column into a **list of Genres** to simplify for future use. This can be achieved by applying Python's split string function on the correct column.

In [278]:
#Every genre is separated by a | so we simply have to call the split function on |
#movies_df['genres'] = movies_df.genres.str.split('|')
movies_df['genres'] = movies_df['genres'].str.split('|')
print(movies_df.shape)
movies_df.head()

(34208, 4)

,movieId,title,genres,year
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995
2,3,Grumpier Old Men,"[Comedy, Romance]",1995
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995
4,5,Father of the Bride Part II,[Comedy],1995

Since keeping genres in a list format isn't optimal for the content-based recommendation system technique, we will use the One Hot Encoding technique to convert the list of genres to a vector where each column corresponds to one possible value of the feature. This encoding is needed for feeding categorical data. In this case, we store every different genre in columns that contain either 1 or 0. 1 shows that a movie has that genre and 0 shows that it doesn't. Let's also store this dataframe in another variable since genres won't be important for our first recommendation system.

In [279]:
#Copying the movie dataframe into a new one since we won't need to use the genre information in our first case.
moviesWithGenres_df = movies_df.copy()

#For every row in the dataframe, iterate through the list of genres and place a 1 into the corresponding column
for index, row in movies_df.iterrows():
    for genre in row['genres']:
        moviesWithGenres_df.at[index, genre] = 1
#Filling in the NaN values with 0 to show that a movie doesn't have that column's genre
moviesWithGenres_df = moviesWithGenres_df.fillna(0)
moviesWithGenres_df.head()
moviesWithGenres_df.columns.shape

(24,)

In [280]:
from sklearn.preprocessing import MultiLabelBinarizer 
mlb = MultiLabelBinarizer()
dummy_movies_df=mlb.fit_transform(movies_df['genres'])
dummy_movies_df
df_out = pd.DataFrame(data=dummy_movies_df, columns=mlb.classes_)
result = pd.concat([movies_df, df_out], axis=1)
result.columns.shape

(24,)

Next, let's look at the ratings dataframe.

In [281]:
ratings_df.head()

   userId  movieId  rating   timestamp
0       1      169     2.5  1204927694
1       1     2471     3.0  1204927438
2       1    48516     5.0  1204927435
3       2     2571     3.5  1436165433
4       2   109487     4.0  1436165496

Every row in the ratings dataframe has a user id associated with at least one movie, a rating and a timestamp showing when they reviewed it. We won't be needing the timestamp column, so let's drop it to save memory.

In [282]:
#Drop removes a specified row or column from a dataframe
ratings_df = ratings_df.drop('timestamp', 1)
ratings_df.head()

   userId  movieId  rating
0       1      169     2.5
1       1     2471     3.0
2       1    48516     5.0
3       2     2571     3.5
4       2   109487     4.0

<a id="ref3"></a>

# Content-Based recommendation system

Now, let's take a look at how to implement **Content-Based** or **Item-Item recommendation systems**. This technique attempts to figure out what a users favourite aspects of an item is, and then recommends items that present those aspects. In our case, we're going to try to figure out the input's favorite genres from the movies and ratings given.

Let's begin by creating an input user to recommend movies to:

Notice: To add more movies, simply increase the amount of elements in the **userInput**. Feel free to add more in! Just be sure to write it in with capital letters and if a movie starts with a "The", like "The Matrix" then write it in like this: 'Matrix, The' .

In [283]:
userInput = [
            {'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':2},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5}
         ] 
inputMovies = pd.DataFrame(userInput)
inputMovies

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4                Akira     4.5

#### Add movieId to input user

With the input complete, let's extract the input movie's ID's from the movies dataframe and add them into it.

We can achieve this by first filtering out the rows that contain the input movie's title and then merging this subset with the input dataframe. We also drop unnecessary columns for the input to save memory space.

In [284]:
#Filtering out the movies by title
inputId = movies_df[movies_df['title'].isin(inputMovies['title'].tolist())]
#Then merging it so we can get the movieId. It's implicitly merging it by title.
inputMovies = pd.merge(inputId, inputMovies)
#Dropping information we won't use from the input dataframe
inputMovies = inputMovies.drop('genres', 1).drop('year', 1)
#Final input dataframe
#If a movie you added in above isn't here, then it might not be in the original 
#dataframe or it might spelled differently, please check capitalisation.
inputMovies

   movieId                title  rating
0        1            Toy Story     3.5
1        2              Jumanji     2.0
2      296         Pulp Fiction     5.0
3     1274                Akira     4.5
4     1968  Breakfast Club, The     5.0

We're going to start by learning the input's preferences, so let's get the subset of movies that the input has watched from the Dataframe containing genres defined with binary values.

In [285]:
#Filtering out the movies from the input
userMovies = moviesWithGenres_df[moviesWithGenres_df['movieId'].isin(inputMovies['movieId'].tolist())]
userMovies

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
293,296,Pulp Fiction,"[Comedy, Crime, Drama, Thriller]",1994,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1246,1274,Akira,"[Action, Adventure, Animation, Sci-Fi]",1988,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1885,1968,"Breakfast Club, The","[Comedy, Drama]",1985,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

We'll only need the actual genre table, so let's clean this up a bit by resetting the index and dropping the movieId, title, genres and year columns.

In [286]:
#Resetting the index to avoid future issues
userMovies = userMovies.reset_index(drop=True)
#Dropping unnecessary issues due to save memory and to avoid issues
userGenreTable = userMovies.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
userGenreTable

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Now we're ready to start learning the input's preferences!

To do this, we're going to turn each genre into weights. We can do this by using the input's reviews and multiplying them into the input's genre table and then summing up the resulting table by column. This operation is actually a dot product between a matrix and a vector, so we can simply accomplish by calling the Pandas "dot" function.

In [287]:
inputMovies['rating']

0    3.5
1    2.0
2    5.0
3    4.5
4    5.0
Name: rating, dtype: float64

In [288]:
#Dot produt to get weights
userProfile = userGenreTable.transpose().dot(inputMovies['rating'])
#The user profile
print(userProfile.shape)
userProfile

(20,)

Adventure             10.0
Animation              8.0
Children               5.5
Comedy                13.5
Fantasy                5.5
Romance                0.0
Drama                 10.0
Action                 4.5
Crime                  5.0
Thriller               5.0
Horror                 0.0
Mystery                0.0
Sci-Fi                 4.5
IMAX                   0.0
Documentary            0.0
War                    0.0
Musical                0.0
Western                0.0
Film-Noir              0.0
(no genres listed)     0.0
dtype: float64

Now, we have the weights for every of the user's preferences. This is known as the User Profile. Using this, we can recommend movies that satisfy the user's preferences.

Let's start by extracting the genre table from the original dataframe:

In [304]:
#Now let's get the genres of every movie in our original dataframe
genreTable = moviesWithGenres_df.set_index(moviesWithGenres_df['movieId'])
#And drop the unnecessary information
genreTable = genreTable.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)

genreTable.head()

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
movieId,,,,,,,,,,,,,,,,,,,,
1,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [305]:
genreTable.shape
print(userProfile.sum().shape)

()

With the input's profile and the complete list of movies and their genres in hand, we're going to take the weighted average of every movie based on the input profile and recommend the top twenty movies that most satisfy it.

In [306]:
#Multiply the genres by the weights and then take the weighted average
recommendationTable_df = ((genreTable*userProfile).sum(axis=1))/(userProfile.sum())
recommendationTable_df.head()

movieId
1    0.594406
2    0.293706
3    0.188811
4    0.328671
5    0.188811
dtype: float64

In [307]:
#Sort our recommendations in descending order
recommendationTable_df = recommendationTable_df.sort_values(ascending=False)
#Just a peek at the values
recommendationTable_df.head()

movieId
5018      0.748252
26093     0.734266
27344     0.720280
148775    0.685315
6902      0.678322
dtype: float64

In [308]:
recommendationTable_df=recommendationTable_df.to_frame()
recommendationTable_df

                0
movieId
5018     0.748252
26093    0.734266
27344    0.720280
148775   0.685315
6902     0.678322
...           ...
59131    0.000000
59136    0.000000
59188    0.000000
59295    0.000000
151711   0.000000

[34208 rows x 1 columns]

In [309]:
recommendationTable_df=recommendationTable_df.reset_index()
recommendationTable_df.columns=['movieId', 'rating']
recommendationTable_df.dtypes
#recommendationTable_df['rating']=recommendationTable_df["0"]
#recommendationTable_df[recommendationTable_df['movieId']==293]
recommendationTable_df

       movieId    rating
0         5018  0.748252
1        26093  0.734266
2        27344  0.720280
3       148775  0.685315
4         6902  0.678322
...        ...       ...
34203    59131  0.000000
34204    59136  0.000000
34205    59188  0.000000
34206    59295  0.000000
34207   151711  0.000000

[34208 rows x 2 columns]

Now here's the recommendation table!

In [310]:
recommendationTable_df[recommendationTable_df['movieId']==293]

      movieId    rating
2045      293  0.342657

In [311]:
#The final recommendation table
movies_df.loc[movies_df['movieId'].isin(recommendationTable_df['movieId'].head(20))]

,movieId,title,genres,year
movieId,,,,
673,673,Space Jam,"[Adventure, Animation, Children, Comedy, Fanta...",1996
1907,1907,Mulan,"[Adventure, Animation, Children, Comedy, Drama...",1998
2987,2987,Who Framed Roger Rabbit?,"[Adventure, Animation, Children, Comedy, Crime...",1988
5018,5018,Motorama,"[Adventure, Comedy, Crime, Drama, Fantasy, Mys...",1991
6902,6902,Interstate 60,"[Adventure, Comedy, Drama, Fantasy, Mystery, S...",2002
26093,26093,"Wonderful World of the Brothers Grimm, The","[Adventure, Animation, Children, Comedy, Drama...",1962
26340,26340,"Twelve Tasks of Asterix, The (Les douze travau...","[Action, Adventure, Animation, Children, Comed...",1976
27344,27344,Revolutionary Girl Utena: Adolescence of Utena...,"[Action, Adventure, Animation, Comedy, Drama, ...",1999
32031,32031,Robots,"[Adventure, Animation, Children, Comedy, Fanta...",2005
51632,51632,Atlantis: Milo's Return,"[Action, Adventure, Animation, Children, Comed...",2003
51939,51939,TMNT (Teenage Mutant Ninja Turtles),"[Action, Adventure, Animation, Children, Comed...",2007
64645,64645,The Wrecking Crew,"[Action, Adventure, Comedy, Crime, Drama, Thri...",1968
81132,81132,Rubber,"[Action, Adventure, Comedy, Crime, Drama, Film...",2010
91335,91335,"Gruffalo, The","[Adventure, Animation, Children, Comedy, Drama]",2009
108540,108540,Ernest & Célestine (Ernest et Célestine),"[Adventure, Animation, Children, Comedy, Drama...",2012
108932,108932,The Lego Movie,"[Action, Adventure, Animation, Children, Comed...",2014
117646,117646,Dragonheart 2: A New Beginning,"[Action, Adventure, Comedy, Drama, Fantasy, Th...",2000
122787,122787,The 39 Steps,"[Action, Adventure, Comedy, Crime, Drama, Thri...",1959
146305,146305,Princes and Princesses,"[Animation, Children, Comedy, Drama, Fantasy, ...",2000
148775,148775,Wizards of Waverly Place: The Movie,"[Adventure, Children, Comedy, Drama, Fantasy, ...",2009

In [319]:
top_20=np.asanyarray(recommendationTable_df['movieId'].head(20))
moviesID_df=movies_df
moviesID_df.index=movies_df['movieId']
recom=moviesID_df.loc[top_20]
suggested=pd.concat([recom.reset_index(drop=True), pd.DataFrame(recommendationTable_df['rating'].head(20)).reset_index(drop=True)] , axis=1, ignore_index=True)
suggested.columns=['movieID', 'movie','genres','year', 'rating']
suggested.index += 1 
suggested

,movieID,movie,genres,year,rating
1,5018,Motorama,"[Adventure, Comedy, Crime, Drama, Fantasy, Mys...",1991,0.748252
2,26093,"Wonderful World of the Brothers Grimm, The","[Adventure, Animation, Children, Comedy, Drama...",1962,0.734266
3,27344,Revolutionary Girl Utena: Adolescence of Utena...,"[Action, Adventure, Animation, Comedy, Drama, ...",1999,0.720280
4,148775,Wizards of Waverly Place: The Movie,"[Adventure, Children, Comedy, Drama, Fantasy, ...",2009,0.685315
5,6902,Interstate 60,"[Adventure, Comedy, Drama, Fantasy, Mystery, S...",2002,0.678322
6,117646,Dragonheart 2: A New Beginning,"[Action, Adventure, Comedy, Drama, Fantasy, Th...",2000,0.678322
7,64645,The Wrecking Crew,"[Action, Adventure, Comedy, Crime, Drama, Thri...",1968,0.671329
8,81132,Rubber,"[Action, Adventure, Comedy, Crime, Drama, Film...",2010,0.671329
9,122787,The 39 Steps,"[Action, Adventure, Comedy, Crime, Drama, Thri...",1959,0.671329
10,2987,Who Framed Roger Rabbit?,"[Adventure, Animation, Children, Comedy, Crime...",1988,0.664336
11,1907,Mulan,"[Adventure, Animation, Children, Comedy, Drama...",1998,0.657343
12,146305,Princes and Princesses,"[Animation, Children, Comedy, Drama, Fantasy, ...",2000,0.657343
13,673,Space Jam,"[Adventure, Animation, Children, Comedy, Fanta...",1996,0.657343
14,51632,Atlantis: Milo's Return,"[Action, Adventure, Animation, Children, Comed...",2003,0.657343
15,51939,TMNT (Teenage Mutant Ninja Turtles),"[Action, Adventure, Animation, Children, Comed...",2007,0.657343
16,91335,"Gruffalo, The","[Adventure, Animation, Children, Comedy, Drama]",2009,0.657343
17,32031,Robots,"[Adventure, Animation, Children, Comedy, Fanta...",2005,0.657343
18,108932,The Lego Movie,"[Action, Adventure, Animation, Children, Comed...",2014,0.657343
19,108540,Ernest & Célestine (Ernest et Célestine),"[Adventure, Animation, Children, Comedy, Drama...",2012,0.657343
20,26340,"Twelve Tasks of Asterix, The (Les douze travau...","[Action, Adventure, Animation, Children, Comed...",1976,0.657343

In [313]:
pd.DataFrame(recommendationTable_df['rating'].head(20)).shape

(20, 1)

### Advantages and Disadvantages of Content-Based Filtering

##### Advantages

*   Learns user's preferences
*   Highly personalized for the user

##### Disadvantages

*   Doesn't take into account what others think of the item, so low quality item recommendations might happen
*   Extracting data is not always intuitive
*   Determining what characteristics of the item the user dislikes or likes is not always obvious

<h2>Want to learn more?</h2>

IBM SPSS Modeler is a comprehensive analytics platform that has many machine learning algorithms. It has been designed to bring predictive intelligence to decisions made by individuals, by groups, by systems – by your enterprise as a whole. A free trial is available through this course, available here: <a href="https://www.ibm.com/analytics/spss-statistics-software?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkML0101ENSkillsNetwork20718538-2021-01-01">SPSS Modeler</a>

Also, you can use Watson Studio to run these notebooks faster with bigger datasets. Watson Studio is IBM's leading cloud solution for data scientists, built by data scientists. With Jupyter notebooks, RStudio, Apache Spark and popular libraries pre-packaged in the cloud, Watson Studio enables data scientists to collaborate on their projects without having to install anything. Join the fast-growing community of Watson Studio users today with a free account at <a href="https://www.ibm.com/cloud/watson-studio?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkML0101ENSkillsNetwork20718538-2021-01-01">Watson Studio</a>

### Thank you for completing this lab!

## Author

Saeed Aghabozorgi

### Other Contributors

<a href="https://www.linkedin.com/in/joseph-s-50398b136/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkML0101ENSkillsNetwork20718538-2021-01-01" target="_blank">Joseph Santarcangelo</a>

## Change Log

|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
|---|---|---|---|
| 2020-11-03  | 2.1  | Lakshmi  | Updated URL of csv|
| 2020-08-27  | 2.0  | Lavanya  |  Moved lab to course repo in GitLab |
|   |   |   |   |
|   |   |   |   |

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>